################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TweetBook.slnx
/TextBook/bin/Debug/net10.0
/TextBook/obj
/.vs/ProjectEvaluation
/bin/Debug
/obj
/.vs/TweetBook/CopilotIndices/18.5.39162.45114
/Tweetbook/obj
