################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TweetBook.slnx
/TextBook/bin/Debug/net10.0
/TextBook/obj
/.vs/ProjectEvaluation
/bin/Debug
/obj
/.vs/TweetBook/CopilotIndices/18.5.39162.45114
/Tweetbook/obj
/TweetBook.IntegrationTests/bin/Debug/net10.0
/TweetBook.IntegrationTests/obj
/Tweetbook/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.InMemory.dll
/Tweetbook/bin/Debug/net10.0/TweetBook.staticwebassets.endpoints.json
/Tweetbook/bin/Debug/net10.0/TweetBook.deps.json
/Tweetbook/bin/Debug/net10.0/TweetBook.dll
/Tweetbook/bin/Debug/net10.0/TweetBook.exe
/Tweetbook/bin/Debug/net10.0/TweetBook.pdb
